html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 370px;
    display: flex;
    flex-direction: column;
}

body {
    /* Background pattern from Subtle Patterns */
    background: #ffffff url('../img/round.png');
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    position: relative;
}

.logo {
    position: relative;
    margin-right: 10px;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

h1 {
    position: relative;
    text-align: right;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}




/********************************
   Styles for the deck of cards
*********************************/

.deck {
    width: 280px;
    /* Background pattern from Subtle Patterns */
    background: #ffffff url('../img/intersection.png');
    padding: 5px;
    border-radius: 10px;
    /*materializecss.com/cards.html*/
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 60px;
    width: 60px;
    margin: 5px;
    font-size: 0;
    color: #ffffff;
    /* Background pattern from Subtle Patterns */
    background: #ffffff url('../img/houndstooth.svg');
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    /*materializecss.com/cards.html*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.deck .card:hover {
    /*materializecss.com/cards.html*/
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.deck .card.open {
    transform: rotateY(360deg);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 60px;
}

.deck .card.disabled {
    pointer-events: none;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 60px;
}

.deck .card.unmatched {
    cursor: default;
    background: #ed3131;
}



/********************************
   Styles for the
   Score & Level Panel
   & Stars-showing
*********************************/

.score-panel {
    position: relative;
    top: 0;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.score-panel .stars,
.won-message .win-stars,
.won-message .level-wstars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #ffd700;
    text-shadow: 2px 2px 3px #848c94;
}

.score-panel .stars li,
.won-message .win-stars li,
.won-message .level-wstars li {
    list-style: none;
    display: inline-block;
}

.progress {
    margin-right: 15px;
}

.level-holder {
    margin: 0 10px 0 0;
    text-align: right;
}

.game-options {
    width: 100%;
    position: fixed;
    display: inline-flex;
    justify-content: center;
    flex-direction: row-reverse;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5em;
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.game-options .start-new,
.game-options .pause,
.game-options .restart {
    /*float: right;*/
    margin: 10px;
    cursor: pointer
}

.game-options .start-new {
    padding: 10px 15px;
    font-size: 0.5em;
    color: #fff;
    background-color: #222;
}

.game-options .pause,
.game-options .restart {
    padding: 0px 5px;
    font-size: 1em;
    color: #222;
}

.reduced {
    position: absolute;
    bottom: 0;
    font-size: 2em;
    background: #222;
    color: #fff;
    padding: 5px 15px;
    left: 20px;
}



/********************************
   Styles for the Winner Panel,
   Level-Up Panel, Pause Panel
*********************************/

.winner-container,
.level-container,
.pause-container,
.lose,
.level5,
.tutorial-container {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.won-message,
.pause-message,
.lose-message,
.level5-message,
.tutorial-message {
    width: 80%;
    max-width: 660px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    color: #222;
    border-radius: 4px;
    /* Background pattern from Subtle Patterns */
    background: #ffffff url('../img/hypnotize.png');
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    text-align: center;
}

.won-message h2,
.won-message h3 {
    margin-top: -10px;
}

.winner-cup,
.pause-symbol {
    color: #31597f;
    font-size: 8em;
}

.winner-cup {
    margin: -15px 0;
}

.pause-symbol {
    margin: -10px 0;
}

.lost-symbol {
    margin: -10px 0;
    color: #ed3131;
    font-size: 8em;
}

.level5-symbol,
.tutorial-symbol {
    color: #31597f;
    font-size: 8em;
    margin: -10px 0;
}

.winner-thumb {
    color: #31597f;
    font-size: 6em;
    margin: -20px 0 -10px 0;
}

.score {
    margin: -1px 0 0 0;
}

.results {
    /*margin: -5px 0 0 0;*/
}

.highlight-score {
    font-size: 1.4em;
    color: #31597f text-shadow: 2px 2px 3px #848c94;
}

.buttons {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.new-game,
.next-level,
.continue,
.close-level5,
.tutorial,
.play-direct {
    width: 220px;
    height: 48px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .3s ease-out;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
}

.next-level,
.continue,
.close-level5,
.tutorial {
    background: #26a69a;
}

.next-level:hover,
.continue:hover,
.close-level5:hover,
.tutorial:hover {
    background: #2bbbad;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.new-game,
.play-direct {
    background: #0d60ad;
}

.new-game:hover,
.play-direct:hover {
    background: #297ece;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}




/********************************
    STATUS
*********************************/

.status {
    position: fixed;
    top: 20%;
    left: 20%;
    /*transform: translate(-50%, -50%);*/
    z-index: 11000;
    display: none;
    color: #ed3131;
    font-size: 4em;
}

.status .fa-heart {
    font-size: 2em;
}

.status1 {
    color: #ed3131;
    font-weight: bold;
    font-size: 3em;
    visibility: hidden;
}


/********************************
    messages
*********************************/

.start {}

.start1 {
    color: #ed3131;
    margin-top: 10px;
    font-weight: bold;
}

/********************************
    ANIMATIONS
*********************************/


/*animations from Animate.CSS */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    rom {
        -webkit-transform: scale3d(0.1, 0.1, 0.1);
        transform: scale3d(0.1, 0.1, 0.1);
    }

    20% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    30% {
        -webkit-transform: scale3d(0.7, 0.7, 0.7);
        transform: scale3d(0.7, 0.7, 0.7);
    }

    50% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }

    70% {
        -webkit-transform: scale3d(0.7, 0.7, 0.7);
        transform: scale3d(0.7, 0.7, 0.7);
    }

    90% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(0.1, 0.1, 0.1);
        transform: scale3d(0.1, 0.1, 0.1);
    }

    20% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }

    30% {
        -webkit-transform: scale3d(0.7, 0.7, 0.7);
        transform: scale3d(0.7, 0.7, 0.7);
    }

    50% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }

    70% {
        -webkit-transform: scale3d(0.7, 0.7, 0.7);
        transform: scale3d(0.7, 0.7, 0.7);
    }

    90% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}


@-webkit-keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
}

@-webkit-keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

.panelFixUp {
    -webkit-transform: translate3d(0, -120px, 0);
    transform: translate3d(0, -120px, 0);
}

.panelFixDown {
    -webkit-transform: translate3d(0, 120px, 0);
    transform: translate3d(0, 120px, 0);
}



/********************************
    MEDIA QUERIES
*********************************/

@media screen and (min-width:481px) {

    header {
        display: block;
        width: 95%;
    }

    .logo {
        float: left;
    }

    h1 {
        float: right;
    }
    .score-panel {
        width: 95%;
    }
    .deck {
        width: 410px;
    }
    .deck .card {
        height: 90px;
        width: 90px;
    }

    .card-logo {
        transform: translate(-50%, -50%) scale(0.7);
    }

    .status {
        font-size: 6em;
    }
}

@media screen and (max-height: 480px) and (orientation: landscape) {

    .panelFixUp {
        -webkit-transform: translate3d(0, -70px, 0);
        transform: translate3d(0, -70px, 0);
    }

    .panelFixDown {
        -webkit-transform: translate3d(0, 70px, 0);
        transform: translate3d(0, 70px, 0);
    }

    .deck .card {
        height: 60px;
        width: 60px;
    }
}

@media screen and (max-height: 768px) and (orientation: landscape) {

    header {
        width: 100%;
    }

    .score-panel {
        width: 100%;
    }
}

@media screen and (min-width:769px) {

    header {
        width: 660px;
    }

    .score-panel {
        width: 660px;
    }

    .reduced {
        display: none;
    }

    .deck {
        width: 490px;
    }

    .deck .card {
        height: 110px;
        width: 110px;
    }

    .card-logo {
        transform: translate(-50%, -50%) scale(0.85);
    }
}


@media screen and (min-width:1025px) {

    header {
        width: 660px;
    }

    .score-panel {
        width: 660px;
    }

    .reduced {
        display: none;
    }

    .deck {
        width: 660px;
    }

    .deck .card {
        height: 125px;
        width: 125px;
    }

    .card-logo {
        transform: translate(-50%, -50%) scale(1);
    }
    .status {
        font-size: 7em;
    }
}
